@{
    ViewData["Title"] = "За Нас";
}
    <h1 class="display-3 text-center">@ViewData["Title"]</h1>
<div class="col-centered col-8">
    <p class="text-center">@ViewData["Message"]</p>
    </div>
