@{
    ViewData["Title"] = "1001 Рецепти";
}

<div class="text-center">
    <h1 class="display-1">@ViewData["Title"]</h1>
    <h1 class="display-5">@ViewData["Message"]</h1>
    <br />
    <img src="~/images/Banitsa.jpg" style="height: 400px;"/>
</div>
