@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
    ViewData["Background"] = "\"../../images/background.jpg\"";

}

<header>
    <h2>Успешен изход от приложението.</h2>
</header>